$title-font: "Playfair Display", serif;
$social-link-font: "Bebas Neue", cursive;

$red-primary: #d31d4d;
$blue-primary: #4b73c8;
$gray-darkest: #42404b;
$gray-lighter: #7d7c84;
$gray-lightest: #ebebe9;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
}

h1 {
  font-family: $title-font;
  font-size: 3rem;
  margin-top: 0;
  color: $red-primary;
  text-align: center;
}

h2 {
  font-family: $title-font;
  font-size: 2rem;
  margin-top: 0;
  color: $blue-primary;
  text-align: center;
}

.name {
  margin-top: 50%;
}

.social-link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
}

.social-link {
  font-family: $social-link-font;
  font-size: 1.5rem;
  color: $blue-primary;
  text-decoration: none;
}
